In [10]:
from transformers import AutoTokenizer #수정 전_from transformers.tokenization_bert import BertTokenizer 
from transformers.models.bert.modeling_bert import BertForMaskedLM #수정 전_from transformers.modeling_bert import BertForMaskedLM
import torch

In [7]:
BERT_MODEL = 'beomi/kcbert-base'
PATH = 'C:/Users/user/PretrainedDataAugment/datasets/custom/cbert/best_cbert.pt'

In [13]:
tokenizer = AutoTokenizer.from_pretrained(BERT_MODEL)

model = BertForMaskedLM.from_pretrained(BERT_MODEL)

Some weights of the model checkpoint at beomi/kcbert-base were not used when initializing BertForMaskedLM: ['cls.seq_relationship.bias', 'cls.seq_relationship.weight']
- This IS expected if you are initializing BertForMaskedLM from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForMaskedLM from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [14]:
model_dict = torch.load(PATH)

In [18]:
model.bert.embeddings.token_type_embeddings = torch.nn.Embedding(6, 768)
model.bert.embeddings.token_type_embeddings.weight.data.normal_(mean=0.0, std=0.02)

tensor([[ 0.0394, -0.0154, -0.0167,  ...,  0.0127,  0.0577,  0.0464],
        [-0.0021,  0.0006, -0.0095,  ...,  0.0190, -0.0623,  0.0221],
        [-0.0079, -0.0048, -0.0069,  ...,  0.0334, -0.0155, -0.0205],
        [ 0.0289,  0.0234,  0.0014,  ..., -0.0079, -0.0269,  0.0052],
        [ 0.0009, -0.0029, -0.0154,  ...,  0.0567, -0.0002, -0.0483],
        [ 0.0187,  0.0089, -0.0058,  ...,  0.0039,  0.0095, -0.0087]])

In [19]:
model.load_state_dict(model_dict)

In [29]:
a= torch.randn(6,5,3)
a

tensor([[[-2.9097e-01, -8.7928e-01, -7.2018e-01],
         [-1.9488e+00,  2.1764e+00,  1.7932e+00],
         [-4.6836e-01, -8.0807e-01, -1.9457e+00],
         [-8.8591e-01,  8.4937e-01, -1.5382e+00],
         [ 2.4363e+00, -4.7923e-01,  1.4630e+00]],

        [[ 2.6324e-01, -2.0562e-01, -4.2299e-01],
         [-1.6219e+00,  1.3442e+00,  1.1215e+00],
         [ 2.2361e-01,  1.1406e+00, -1.3568e-01],
         [ 2.2344e-01,  6.3300e-01,  1.7330e+00],
         [ 8.8074e-01,  1.4446e+00, -9.5009e-01]],

        [[ 1.8216e+00,  1.7528e+00, -8.8066e-01],
         [ 1.6752e-01,  1.1453e+00, -1.1728e+00],
         [-9.8706e-01,  1.0195e+00, -2.7244e-01],
         [ 3.6802e-01, -5.0710e-02, -5.5820e-01],
         [ 7.8643e-01,  7.7031e-01,  5.8544e-01]],

        [[-9.1812e-01, -1.7141e+00, -1.6945e+00],
         [-1.7975e-01,  4.5248e-01,  9.7899e-01],
         [-3.6472e-01,  6.3925e-02, -8.8110e-01],
         [ 8.5103e-01, -9.3533e-01, -2.8882e-01],
         [ 7.6111e-01,  7.6544e-01,  1.4952e-01]],

        [[-5.9281e-02, -1.4341e+00,  1.7381e+00],
         [-1.5331e+00, -5.2990e-01,  1.1676e+00],
         [ 5.2218e-01,  5.6914e-01, -8.5680e-01],
         [-1.1393e+00, -6.1967e-01,  1.1018e+00],
         [-1.8964e-01,  6.1858e-01, -1.4359e+00]],

        [[-1.0501e+00, -1.0524e+00, -1.3330e-01],
         [ 7.2977e-01, -7.8157e-01, -3.6715e-01],
         [ 7.3275e-01,  4.7566e-01,  4.5371e-01],
         [ 5.6733e-01,  7.3239e-01, -1.1548e-03],
         [-1.1986e+00,  8.2911e-02, -1.2629e+00]]])

In [30]:
b = torch.argmax(a, dim = -1)

In [31]:
b.shape

torch.Size([6, 5])

In [168]:
import numpy as np; np.random.seed(1234)
import pandas as pd


ntrain = 125000
ndev = 25000
ntest = 50000
data = pd.read_csv('datasets/custom/ratings.txt', sep='\t', quoting=3)
'''
data = pd.DataFrame(np.random.permutation(data))
trn, tst, dev  = data[:ntrain], data[ntrain:ntrain + ndev], data[ntrain + ndev:]

header = 'id document label'.split()
trn.to_csv('datasets/custom/ratings_test.txt', sep='\t', index=False, header=header)
tst.to_csv('datasets/custom/ratings_test.txt', sep='\t', index=False, header=header)
'''

"\ndata = pd.DataFrame(np.random.permutation(data))\ntrn, tst, dev  = data[:ntrain], data[ntrain:ntrain + ndev], data[ntrain + ndev:]\n\nheader = 'id document label'.split()\ntrn.to_csv('datasets/custom/ratings_test.txt', sep='\t', index=False, header=header)\ntst.to_csv('datasets/custom/ratings_test.txt', sep='\t', index=False, header=header)\n"

In [169]:
data

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 3 columns]

In [170]:
data = data.drop(columns=['id'], axis=1)

In [171]:
data

                                                 document  label
0                                     어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1       디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2                    폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3       와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4                             안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...                                                   ...    ...
199995                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996                                              쓰.레.기      0
199997                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 2 columns]

In [172]:
idx_1 = data['label'] == 1

In [176]:
data_1= data[idx_1]

In [174]:
data_0 = data[idx_1 == False]

In [175]:
data_0

                                   document  label
100000                   이런영화로 관객들한테 돈벌고싶소?      0
100001          작품 선구안이 없다는게 배우 김태희의 최대 약점.      0
100002                      사극?? 로멘스?? 퓨젼??      0
100003            ㅋㅋㅋㅋ엿국니네가그렇지므ㅝ 이건뭐 영화도아니고      0
100004                      완죤유치하고 못봐주겠네...      0
...                                     ...    ...
199995                       포켓 몬스터 짜가 ㅡㅡ;;      0
199996                                쓰.레.기      0
199997    완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998  왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999                      포풍저그가나가신다영차영차영차      0

[100000 rows x 2 columns]

In [177]:
trn = pd.concat([data_0[:ntrain // 2],data_1[:ntrain//2]])

In [178]:
trn

                                          document  label
100000                          이런영화로 관객들한테 돈벌고싶소?      0
100001                 작품 선구안이 없다는게 배우 김태희의 최대 약점.      0
100002                             사극?? 로멘스?? 퓨젼??      0
100003                   ㅋㅋㅋㅋ엿국니네가그렇지므ㅝ 이건뭐 영화도아니고      0
100004                             완죤유치하고 못봐주겠네...      0
...                                            ...    ...
62495     참신하고 재밌다 더 쓰레기같은 영화도 많은데 왜들 글케 욕하는지 모르겠음      1
62496   선과 악의 절대적 기준은 정말 존재하는걸까?라는 메시지가 남는 깊이있는 영화      1
62497                        평점이 너무 낮네요.실화라서 그런가요?      1
62498                  나는 괜찬아요 , 이 말이 내가슴을 더욱 조여온다      1
62499                                       특작(特作)      1

[125000 rows x 2 columns]

In [181]:
dev = pd.concat([data_0[ntrain//2: (ntrain + ndev) // 2],data_1[ntrain//2: (ntrain + ndev)//2]])

In [182]:
dev

                                                 document  label
162500                              남자 성기노출 이외에는 볼게 없는 영화      0
162501                                 어른은 보지 마세요 얘들만 보세요      0
162502                 재미없음 보면서 계속 무표정으로 봤음 보면 후회될 영화 레알!      0
162503  영화로 개봉된 이유를 모르겠다 그냥 팬들을위해서라면 블루레이 DVD 박스를 제작해서...      0
162504                 무슨 생각으로 영화를 만들었는지 알수없는 수준이하의 영화였다.      0
...                                                   ...    ...
74995   작품 완성도 같은건 별로지만 아무생각 없이보면 잔인한 제이슨 시리즈를 가장 쉽게 다...      1
74996                           내 인생의 top 10 영화에 기록 될 영화다      1
74997                                      이런 화끈한 액션이 좋더라      1
74998                  정말 로멘틱 코메디네요. 재밌게 잘 봤습니다. 군더더기 없이.      1
74999   영화자체보다는 그들의 업적에 감사하고 감명받았다. 조지 클루니는 역사속에 이들이 묻...      1

[25000 rows x 2 columns]

In [186]:
tst = pd.concat([data_0[-ntest//2:],data_1[-ntest//2:]])

In [187]:
tst

                                                 document  label
175000                                        아놔 정말....ㅜㅠ      0
175001  연기나 스토리나 다 어색..ㅡㅡ보고나서 그냥 그렇다가 아니고머 이런영화가 있어 그러...      0
175002                                      안보셔도 될 정도입니다.      0
175003                                       캐스팅이별루였던거같네요      0
175004            이런 영화에 투자하는 넘은 머냐 ?? 극장에서 봤으면 환불 받았을 영화      0
...                                                   ...    ...
99995        귀신보다 사람이 얼마나 무서운가를 보여주는.. 메시지까지 담고있는 드라마~최고!      1
99996                 이라크 및 아랍과의 전쟁을 그린 모든 영화 중에서 가장 최고!!      1
99997                      값으로 환산할 수 없을 만큼 귀엽고 황홀한 캐릭터 ㅠㅠ      1
99998                                                   짱      1
99999                        파괴지왕에서 장학우 콘서트 티켓을 얻기위한... ㅋ      1

[50000 rows x 2 columns]

In [188]:
tst.to_csv('test.tsv', index=False, header=None, sep="\t")
trn.to_csv('train.tsv', index=False, header=None, sep="\t")
dev.to_csv('dev.tsv', index=False, header=None, sep="\t")